# Your local postgresql database 
DATABASE_URL = "postgresql://<user>:<password>@<host>:5432/vasile_barbu_api_test?schema=public"

# Your Redis Instance,leave as an empty string if you are using the local redis-server
REDIS_INSTANCE = ""

# Your JWT private key,should be a random long string
JWT_PRIVATE_KEY = "sdawjdpawd-238ejawdpja_dawd-dawdoaw-dawdawpjfiaw"

# The port you want your server to be hosted on
SERVER_PORT = "4000"

# For development/production purposes
NODE_ENV = "development"

# Email address and password for nodeemailer use
EMAIL_ADDRESS_USER = "youremail@gmail.com"
EMAIL_ADDRESS_PASS = "yourapppassword"

# Duration for JWT/JWT Saved in Redis in hours
JWT_EXP_DURATION = "12h"

# Duration for the Password Token Generation in Redis in hours
PASS_TOKEN_EXP_DURATION = "0.05h"

# VAPID KEYS for Notifications
PUBLIC_VAPID_KEY = ""
PRIVATE_VAPID_KEY = ""

# What image gets shown in notifications
NOTIFICATION_IMAGE_URL = https://res.cloudinary.com/birthdayreminder/image/upload/v1689691429/Highschool%20Site%20App/logo%20for%20pwa.png

