@use "./functions" as *;
@use "./variables" as *;

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin homePageSection($bgColor, $direction) {
  padding: $sectionPadding;
  @include flexCenter($direction);
  width: 100%;

  background-color: $bgColor;
}

@mixin pageLayout() {
  width: 100%;
  @include flexCenter(column);
}

@mixin controlInput($fontSize, $width) {
  width: $width;
  font-size: $fontSize;
  border-radius: 1rem;
  border: 2px solid getColor("silver-50");

  transition: transform 0.1s ease-in;

  &:hover {
    transform: translateX(1rem);
  }
}

@mixin formButton($width, $fontSize) {
  width: $width;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  border: 2px solid getColor("silver-50");
  margin-top: 5rem;
  font-size: $fontSize;

  &:focus-visible {
    outline: 3px solid getColor("silver-50");
  }

  &:hover {
    transform: scale(1.05);
  }
}

@mixin controlSelect() {
  font-size: 1.15rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 50%;
  border: 2px solid getColor("silver-50");

  transition: transform 0.1s ease-in;

  &:hover {
    transform: scale(1.025);
  }
}
