$colors: (
  "silver-0": #c0c0c0,
  "silver-10": #adadad,
  "silver-20": #9a9a9a,
  "silver-30": #868686,
  "silver-40": #737373,
  "silver-50": #606060,
  "silver-white": #e6e6e6,
);

$screenSizes: (
  "normal": 1920px,
  "laptopL": 1440px,
  "laptop": 1024px,
  "tablet": 768px,
  "mobileL": 425px,
  "mobileM": 375px,
  "mobileS": 320px,
);

$sectionPadding: 7.5rem;
$subtitleFontSize: 3.5rem;
$descFontSize: 1.5rem;

$itemBoxShadowOnHover: -5px 5px 10px 4px
  map-get(
    $map: $colors,
    $key: "silver-50",
  );
