@use "../../abstracts" as *;

.screenLoadingContainer {
  @include flexCenter(column);
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in opacity 0.2s;
  opacity: 0;
  transform: scale(0);

  display: none;

  #{&}__content {
    @include flexCenter(column);
    position: fixed;
    top: 0;
    right: auto;
    left: auto;
    gap: 1rem;
    width: 30rem;
    height: 8rem;
    border-radius: 1rem;
    border: 3px solid getColor("silver-white");
    background-color: rgba($color: getColor("silver-0"), $alpha: 0.9);
    padding: 0rem 0.5rem;

    h3 {
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 1.25px;

      @media all and (max-width: 1550px) {
        font-size: 1.35rem;
      }

      @media all and (max-width: getScreenSize("tablet")) {
        font-size: 1.25rem;
      }
    }
  }
}
