@use "../../abstracts" as *;

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.announcementsContainer {
  @include pageLayout();

  #{&}__content {
    @include pageSection(getColor("silver-10"), column);
    gap: 5rem;
    width: 100%;

    @media all and (max-width: getScreenSize("tablet")) {
      padding: 7.5rem 2.5rem;
    }

    @media all and (max-width: (getScreenSize("tablet") - 200px)) {
      padding: 7.5rem 1rem;
    }

    h2 {
      font-size: 4rem;
      letter-spacing: 5px;
      text-align: center;

      @media all and (max-width: 650px) {
        font-size: 3rem;
        letter-spacing: 3.5px;
      }

      @media all and (max-width: (getScreenSize("mobileL") + 50px)) {
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }

  #{&}__announcements {
    @include flexCenter(column);
    align-items: flex-start;
    gap: 5rem;
    width: 80%;

    p {
      align-self: center;
      font-size: 1.25rem;
    }

    @media all and (max-width: getScreenSize("laptopL")) {
      width: 100%;
    }
  }

  #{&}__category {
    @include flexCenter(column);
    align-items: flex-start;
    width: 100%;
    gap: 3rem;
    list-style: none;

    li {
      width: 100%;
    }
  }

  #{&}__categoryTitle {
    @include flexCenter(row);
    justify-content: flex-start;
    gap: 1rem;
    font-size: 2.5rem;
    width: 100%;
    border: 3px solid getColor("silver-50");
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: getColor("silver-white");
    letter-spacing: 3px;
    padding-left: 1rem;

    @media all and (max-width: (getScreenSize("tablet") - 200px)) {
      font-size: 1.5rem;
      letter-spacing: 1.5px;
      gap: 0.5rem;
    }
  }

  #{&}__announcement {
    @include flexCenter(column);
    align-items: flex-start;
    justify-content: space-between;
    border: 5px solid getColor("silver-30");
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: getColor("silver-white");
    gap: 1rem;
    margin-left: 2.5rem;
    position: relative;

    p {
      font-size: 1.25rem;

      @media all and (max-width: getScreenSize("laptop")) {
        font-size: 1rem;
      }

      @media all and (max-width: getScreenSize("mobileL")) {
        font-size: 0.75rem;
      }
    }

    transition: transform 0.1s ease-in;

    @media all and (max-width: getScreenSize("laptop")) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-left: 1.5rem;
    }

    @media all and (max-width: (getScreenSize("tablet") - 200px)) {
      margin-left: 0.5rem;
    }

    &:hover {
      transform: translateX(0.25rem);
      box-shadow: $itemBoxShadowOnHover;

      @media all and (max-width: getScreenSize("mobileL")) {
        transform: translateX(0);
      }
    }
  }

  #{&}__announcementTime {
    @include flexCenter(row);
    align-self: flex-start;
    gap: 2rem;
    color: getColor("silver-20");

    @media all and (max-width: (getScreenSize("tablet") - 200px)) {
      margin-left: 0.3rem;
    }

    p {
      transition: color 0.1s ease-in;

      @media all and (max-width: getScreenSize("laptop")) {
        font-size: 1rem;
      }

      @media all and (max-width: (getScreenSize("tablet") - 200px)) {
        font-size: 0.75rem;
      }

      &:hover {
        color: getColor("silver-50");
      }
    }
  }

  #{&}__announcementInfo {
    @include flexCenter(column);
    align-items: flex-start;
    gap: 1rem;
    width: 100%;

    @media all and (max-width: getScreenSize("laptop")) {
      width: 100%;
    }

    iframe {
      width: 100%;
      height: auto;
      min-height: 30rem;
      border-radius: 1rem;
      margin: 2rem 0;

      @media all and (max-width: getScreenSize("laptop")) {
        width: 100%;
      }

      @media all and (max-width: getScreenSize("laptop")) {
        min-height: 20rem;
      }
    }

    p {
      font-size: 1.25rem;

      @media all and (max-width: getScreenSize("laptop")) {
        font-size: 1rem;
      }

      @media all and (max-width: getScreenSize("mobileL")) {
        font-size: 0.75rem;
      }
    }

    .announcementsContainer__announcementTime {
      margin-left: 0;

      p {
        @media all and (max-width: (getScreenSize("tablet") - 200px)) {
          font-size: 0.75rem;
        }
      }
    }

    .announcementsContainer__announcementTitle {
      width: 100%;
      h4 {
        font-size: 2.5rem;
        width: 100%;
        text-align: center;

        @media all and (max-width: getScreenSize("laptop")) {
          font-size: 1.75rem;
        }

        @media all and (max-width: (getScreenSize("tablet") - 200px)) {
          font-size: 1.5rem;
        }
      }
    }

    textarea {
      max-width: 50%;
      min-width: 50%;
      min-height: 15rem;
      max-height: 20rem;
      padding: 0.25rem;
      border-radius: 1rem;
      border: 3px solid getColor("silver-50");
      font-size: 1.25rem;

      &:focus-visible {
        outline: 3px solid getColor("silver-50");
      }
    }
  }

  #{&}__announcementTitle {
    @include flexCenter(row);
    gap: 1.5rem;
    width: 100%;
    justify-content: flex-start;

    @media all and (max-width: (getScreenSize("tablet") - 200px)) {
      gap: 0.5rem;
    }

    h4 {
      font-size: 1.5rem;
      max-width: 90%;

      @media all and (max-width: getScreenSize("laptop")) {
        font-size: 1.15rem;
      }

      @media all and (max-width: (getScreenSize("tablet") - 200px)) {
        max-width: none;
      }
    }

    svg {
      font-size: 2.25rem;
      z-index: 2;

      @media all and (max-width: (getScreenSize("tablet") - 200px)) {
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
      }

      @media all and (max-width: getScreenSize("mobileL")) {
        font-size: 1.5rem;
      }
    }

    input {
      @include controlInput(2.25rem, 85%);
      text-align: center;
      align-self: center;
    }
  }

  #{&}__announcementContent {
    @include flexCenter(row);
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 3rem 0;
    gap: 1rem;

    @media all and (max-width: getScreenSize("laptopL")) {
      align-items: center;
      flex-direction: column;
      gap: 3rem;
    }

    @media all and (max-width: getScreenSize("mobileL")) {
      margin: 1rem 0;
    }

    img {
      min-width: 45%;
      max-height: 30rem;
      height: auto;
      border-radius: 0.5rem;

      @media all and (max-width: getScreenSize("laptopL")) {
        width: 100%;
        max-height: 40rem;
      }

      @media all and (max-width: getScreenSize("laptop")) {
        max-height: 20rem;
      }
    }
  }

  #{&}__announcementImage {
    @include flexCenter(column);
    position: relative;
    width: 45%;
    border-radius: 0.5rem;

    @media all and (max-width: getScreenSize("laptop")) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  #{&}__announcementImageOverlay {
    @include flexCenter(column);
    position: absolute;
    width: 100%;
    border-radius: 0.5rem;
    height: 100%;
    background-color: rgba($color: getColor("silver-30"), $alpha: 0.5);
    border: 3px solid getColor("silver-30");

    input {
      display: none;
    }

    button {
      background: none;
      border: none;
      font-size: 10rem;
      color: getColor("silver-white");

      @media all and (max-width: getScreenSize("laptop")) {
        font-size: 5rem;
      }
    }
  }

  #{&}__videoContainer {
    @include flexCenter(column);
    width: 100%;
    align-items: flex-start;

    label {
      font-size: 1.5rem;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 1rem;
    }

    input {
      @include controlInput(1.25rem, 70%);
    }

    iframe {
      margin-top: 2rem;
    }
  }
}

.saveButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  font-size: 3rem;
  border: none;

  animation: pulse 0.5s alternate infinite;

  &:hover {
    animation-play-state: paused;
  }
}
