@use "../../abstracts" as *;

.classesContainer {
  @include pageLayout();

  h2 {
    font-size: $subtitleFontSize;
    letter-spacing: 3px;
    text-align: center;

    @media all and (max-width: getScreenSize("mobileL")) {
      font-size: 2.5rem;
    }
  }

  #{&}__content {
    @include pageSection(getColor("silver-10"), column);
    gap: 5rem;
  }

  #{&}__classes {
    @include flexCenter(row);
    flex-wrap: wrap;
    row-gap: 5rem;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    align-items: flex-start;

    li {
      width: 30%;
      transition: transform 0.1s ease-in;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  #{&}__classContainer {
    @include flexCenter(column);
    width: 100%;
    background-color: getColor("silver-white");
    border: 1px solid getColor("silver-50");
    border-radius: 0.25rem;

    img {
      border-radius: 0.25rem;
      width: 100%;
      max-height: 20rem;
      height: auto;
    }
  }

  #{&}__classDetails {
    @include flexCenter(column);
    width: 100%;
    margin-bottom: 1rem;

    h3 {
      font-size: 3rem;
      letter-spacing: 5px;
    }

    p {
      font-size: 1.5rem;

      &:hover {
        font-style: italic;
      }
    }

    a {
      @include flexCenter(row);
      border: 1px solid black;
      color: black;
      width: 75%;
      border-radius: 0.35rem;
      background-color: getColor("light-blue");
      padding: 0.65rem 0.25rem;
      text-decoration: none;
      font-size: 1.25rem;
      margin-top: 2rem;

      &:hover {
        font-style: italic;
      }
    }
  }
}
