@use "../../abstracts" as *;

.classContainer {
  @include pageLayout();

  h2 {
    font-size: $subtitleFontSize;
    letter-spacing: 3px;
    text-align: center;

    @media all and (max-width: getScreenSize("mobileL")) {
      font-size: 2.5rem;
    }
  }

  #{&}__classDetailsContainer {
    @include homePageSection(getColor("silver-0"), column);
    gap: 5rem;
  }

  #{&}__classDetails {
    @include flexCenter(column);
    width: 100%;
    align-items: flex-start;
    gap: 2rem;

    h3 {
      font-size: 2.5rem;
      letter-spacing: 2px;
    }
  }

  #{&}__classMaster {
    @include flexCenter(column);
    width: 35%;
    padding: 1.5rem;
    background-color: getColor("silver-white");
    border-radius: 1rem;
    border: 3px solid getColor("silver-50");
    padding-left: 3.5rem;

    h3 {
      text-align: center;
    }
  }

  #{&}__classTeachers {
    @include flexCenter(column);
    align-items: flex-start;
    width: 100%;
    padding: 1.5rem;
    background-color: getColor("silver-white");
    border-radius: 1rem;
    border: 3px solid getColor("silver-50");
  }

  #{&}__classTeachersDetails {
    @include flexCenter(row);
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    margin-left: 2rem;
  }

  #{&}__classStudents {
    @include flexCenter(column);
    align-items: flex-start;
    width: 100%;
    padding: 1.5rem;
    background-color: getColor("silver-white");
    border-radius: 1rem;
    border: 3px solid getColor("silver-50");
  }

  #{&}__classStudentsDetails {
    @include flexCenter(row);
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    margin-left: 2rem;
  }

  #{&}__componentPreview {
    @include flexCenter(column);
    flex-wrap: wrap;
    max-width: 12.5rem;
    min-height: 20rem;
    transition: transform 0.2s ease;
    color: black;
    text-decoration: none;
    gap: 0.5rem;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: auto;
      min-height: 12.5rem;
      border-radius: 50%;
      border: 1px solid getColor("silver-50");
    }

    h4 {
      font-size: 1.2rem;
      letter-spacing: 1.5px;
      text-align: center;
    }

    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  #{&}__classCatalogue {
    @include homePageSection(getColor("silver-30"), column);
    gap: 5rem;
    min-height: 100rem;
  }

  #{&}__classCatalogueContent {
    @include flexCenter(column);
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border: 1px solid black;

    background-color: getColor("silver-white");
  }

  #{&}__classCatalogueHead {
    @include flexCenter(row);
    justify-content: flex-start;
    width: 100%;
    height: 10rem;

    tr {
      @include flexCenter(row);
      width: 100%;
      height: 100%;
      align-items: flex-start;
    }

    th {
      @include flexCenter(row);
      justify-content: flex-start;
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px solid black;
      font-size: 1rem;
      background-color: getColor("silver-10");

      button {
        @include flexCenter(row);
        position: absolute;
        background-color: getColor("light-blue");
        font-size: 3rem;
        border-radius: 0.5rem;
        border: 2px solid black;

        transition: transform 0.2s ease-in;

        svg {
          width: 100%;
          &:hover {
            transform: scale(1);
          }
        }

        &:first-of-type {
          left: 1rem;
        }

        &:nth-of-type(2) {
          right: 1rem;
        }
      }

      &:first-of-type {
        align-items: center;
        width: 12.5%;
        justify-content: center;
        font-size: 2.25rem;
        letter-spacing: 3px;
      }

      &:nth-of-type(2) {
        @include flexCenter(row);
        width: 87.5%;
      }

      span {
        @include flexCenter(row);
        height: 100%;
        width: 100%;

        &:first-of-type {
          font-size: 2.25rem;
          letter-spacing: 3px;
          padding: 0.35rem;
          padding-bottom: 0.7rem;
        }

        ul {
          @include flexCenter(row);
          align-items: flex-start;
          list-style: none;
          height: 100%;
          width: 100%;

          li {
            @include flexCenter(row);
            height: 100%;
            width: 16.666%;
            padding: 0.25rem;
            font-size: 1.25rem;
            border: 1px solid black;
            border-bottom: none;
            background-color: getColor("silver-white");
          }
        }
      }
    }
  }

  #{&}__classCatalogueSubjects {
    @include flexCenter(column);
    width: 100%;
    height: 100%;
  }

  #{&}__classCatalogueBody {
    @include flexCenter(column);
    width: 100%;
    justify-content: flex-start;
  }

  #{&}__classCatalogueSection {
    @include flexCenter(row);
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 30rem;
    border: 1px solid black;
  }

  #{&}__classCatalogueStudent {
    @include flexCenter(row);

    height: 100%;
    width: 12.5%;

    border: 1px solid black;
    border-right: 2px solid black;
    padding: 0.5rem;

    a {
      @include flexCenter(column);
      gap: 1rem;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }

      img {
        transition: transform 0.1s ease-in;
        border-radius: 50%;
        border: 1px solid black;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  #{&}__classCatalogueStudentContent {
    @include flexCenter(row);
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  #{&}__classCatalogueStudentContentWrapper {
    @include flexCenter(row);
    align-items: flex-start;
    justify-content: flex-start;
    width: 87.5%;
    height: 100%;
  }

  #{&}__classCatalogueStudentDetails {
    @include flexCenter(column);
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;

    h4 {
      width: 100%;
      font-size: 1.25rem;
      text-align: center;
      border: 2px solid black;
      border-top: 1px solid black;
    }
  }

  #{&}__classCatalogueStudentDetailsContent {
    @include flexCenter(column);
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100%;

    ul {
      @include flexCenter(column);
      list-style: none;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      gap: 0.5rem;
      overflow-y: scroll;

      &:first-of-type {
        border-right: 2px solid black;
      }

      &::-webkit-scrollbar {
        visibility: hidden;
      }

      li {
        @include flexCenter(row);
        width: 100%;
        position: relative;
        text-align: center;

        input {
          @include flexCenter(row);
          background-color: inherit;
          border: none;
          font-size: 1.25rem;
          font-weight: bolder;
          width: 100%;
          border: 3px solid getColor("light-green");
          border-radius: 1rem;

          &:hover {
            transform: scale(1);
          }
        }

        svg {
          @include flexCenter(row);
          position: absolute;
          top: -0.8rem;
          left: -0.4rem;
          color: red;
          border: 0.5px solid black;
          border-radius: 50%;
          background-color: getColor("silver-white");
          font-size: 1rem;
          padding: 0.2rem;
          width: auto;
          height: auto;
          z-index: 2;
        }

        p {
          font-size: 0.75rem;
        }

        h5 {
          font-size: 1.15rem;
          text-align: center;
        }

        h6 {
          width: 100%;
          font-size: 0.85rem;
        }
      }
    }
  }
}
