@use "../../abstracts" as *;

.profileContainer {
  @include pageLayout();

  #{&}__profile {
    @include pageSection(getColor("silver-30"), row);
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  #{&}__profileDetails {
    @include flexCenter(column);
    width: 40%;

    h3 {
      margin: 1rem 0;
      font-size: 2rem;
      letter-spacing: 1.5pxx;
    }

    h4 {
      font-size: 1.5rem;
    }

    h5 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }

    img {
      border-radius: 50%;
      width: 100%;
      height: 30rem;
      max-width: 30rem;
      border: 2px solid black;
    }
  }

  #{&}__profileHub {
    @include flexCenter(column);
    width: 55%;
    height: auto;
    justify-content: flex-start;
    min-height: 40rem;
    gap: 3rem;
  }

  #{&}__profileOptions {
    @include flexCenter(column);
    background-color: getColor("silver-40");
    border: 2px solid black;
    width: 100%;
    height: 5rem;

    border-radius: 2rem;

    ul {
      @include flexCenter(row);
      width: 100%;
      height: 100%;
      list-style: none;
      gap: 1rem;
      padding: 0 1rem;

      li {
        @include flexCenter(row);
        flex-grow: 1;
        font-size: 1.25rem;
        padding: 0.35rem 0.15rem;
        border-radius: 0.75rem;
        background-color: getColor("silver-10");

        a {
          @include flexCenter(row);
          text-decoration: none;
          color: black;
          width: 100%;
          height: 100%;
        }

        transition: transform 0.2s ease-in background-color 0.2s ease-in;

        &:first-of-type {
          border-left: 0;
        }

        &:last-of-type {
          border-right: 0;
        }

        &:hover {
          transform: scale(1.025);
          font-style: italic;
        }
      }
    }
  }

  #{&}__profileContent {
    @include flexCenter(column);
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    max-height: 50rem;
    background-color: getColor("silver-40");
    border: 2px solid black;
    border-radius: 0.5rem;
    overflow-y: scroll;
  }

  #{&}__studentCatalogue {
    @include pageSection(getColor("silver-40"), column);
    justify-content: flex-start;
    width: 100%;
    min-height: 100rem;
    gap: 3rem;

    h2 {
      font-size: $subtitleFontSize;
      letter-spacing: 3px;
      text-align: center;

      @media all and (max-width: getScreenSize("mobileL")) {
        font-size: 2.5rem;
      }
    }
  }

  #{&}__studentCatalogueSection {
    @include flexCenter(row);
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 30rem;
    height: 100%;
  }

  #{&}__studentCatalogueContent {
    @include flexCenter(column);
    justify-content: flex-start;
    width: 55%;
    height: 100%;
    border: 2px solid black;
    background-color: getColor("silver-50");

    thead {
      @include flexCenter(row);
      width: 100%;

      tr {
        @include flexCenter(row);
        width: 100%;
      }

      th {
        width: 25%;
        border: 1px solid black;
        font-size: 1.35rem;
        background-color: getColor("silver-10");
      }
    }

    tbody {
      @include flexCenter(column);
      width: 100%;

      tr {
        @include flexCenter(row);
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 15rem;

        td {
          @include flexCenter(row);
          align-items: flex-start;
          position: relative;
          height: 100%;
          flex-grow: 1;
          border: 1px solid black;
          padding: 0.25rem;
          max-width: 25%;
          min-height: 2.25rem;
          background-color: getColor("silver-white");

          &:first-of-type {
            @include flexCenter(row);

            a {
              @include flexCenter(column);
              font-size: 1.15rem;
              gap: 1rem;
              text-decoration: none;
              color: black;

              &:hover {
                text-decoration: underline;
              }

              img {
                transition: transform 0.1s ease-in;
                border-radius: 50%;
                border: 1px solid black;

                &:hover {
                  transform: scale(1.2);
                }
              }

              h3 {
                text-align: center;
              }
            }
          }

          &:nth-of-type(2) {
            @include flexCenter(row);
          }

          ul {
            @include flexCenter(column);
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            list-style: none;
            gap: 0.25rem;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              visibility: hidden;
            }

            li {
              @include flexCenter(row);
              position: relative;
              gap: 1rem;
              width: 100%;

              input {
                @include flexCenter(row);
                background-color: inherit;
                border: none;
                font-size: 1.25rem;
                padding-left: 1rem;
                font-weight: bolder;
                width: 25%;
                border: 3px solid getColor("light-green");
                border-radius: 1rem;

                &:hover {
                  transform: scale(1);
                }
              }

              svg {
                @include flexCenter(row);
                position: absolute;
                top: 0;
                left: 0;
                color: red;
                border: 0.5px solid black;
                border-radius: 50%;
                background-color: getColor("silver-white");
                font-size: 1rem;
                padding: 0.2rem;
                width: auto;
                height: auto;
              }

              h5 {
                text-align: center;
                width: 50%;
                font-size: 0.75rem;
              }

              h4 {
                font-size: 1.25rem;
              }

              p {
                font-size: 0.75rem;
              }
            }
          }
        }
      }
    }
  }
  #{&}__studentCatalogueDetails {
    @include flexCenter(column);
    width: 40%;
    padding: 1rem;
    border: 2px solid black;
    background-color: getColor("silver-white");
    border-radius: 0.75rem;

    h3 {
      font-size: 2rem;
      margin-top: 1rem;
    }

    hr {
      margin-bottom: 2rem;
      width: 50%;
      height: 0.25rem;
      border: none;
      background-color: black;
      border-radius: 1rem;
    }
  }

  #{&}__studentCatalogueStatistics {
    @include flexCenter(column);
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    align-items: flex-start;

    li {
      @include flexCenter(row);
      justify-content: space-between;
      gap: 0.5rem;
      width: 100%;
      padding: 0.25rem;
      font-size: 1.35rem;
      font-weight: bolder;

      span {
        font-weight: normal;
        transition: transform 0.1s ease-in;
        font-size: 1.15rem;
        text-align: end;
        border-radius: 1rem;
        padding: 0.35rem;
        padding-right: 1rem;
        background-color: getColor("light-green");
        width: 33%;
        border: 2px solid black;

        &:hover {
          transform: scale(1.1);
          font-style: italic;
        }
      }
    }
  }
}

.createGradeOrAbsenceContainer {
  @include flexCenter(column);
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  min-width: 12.5rem;
  z-index: 5;
}

.createGradeOrAbsenceButton {
  @include flexCenter(row);
  position: absolute;
  top: 0;
  right: 0;
  background-color: blue;
  border-radius: 50%;
  font-size: 1.25rem;
  padding: 0.35rem;
  border: 1px solid black;
  z-index: 2;

  transition: opacity 0.35s ease-in;

  display: none;
  opacity: 0;

  svg {
    width: 100%;
    transition: transform 0.2s ease-in;

    &:hover {
      transform: rotate(180deg);
    }
  }
}

.createGradeOrAbsenceForm {
  @include flexCenter(column);
  width: 100%;
  gap: 1rem;

  button {
    @include flexCenter(row);
    background-color: getColor("light-blue");
    padding: 0.5rem 0.25rem;
    width: 60%;
    font-size: 1rem;
    letter-spacing: 1px;
    border: 2px solid getColor("silver-50");
    border-radius: 0.25rem;

    transition: transform 0.2s ease-in;
  }
}

.createGradeOrAbsenceModal {
  @include flexCenter(column);
  position: absolute;
  width: 100%;
  background-color: getColor("silver-white");
  padding: 0.5rem;
  bottom: 1rem;
  border: 2px solid black;
  border-radius: 0.25rem;
  gap: 0.5rem;

  display: none;
  opacity: 0;

  transition: opacity 0.15s ease-in;

  svg {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    color: red;
    font-size: 1.5rem;
  }

  label {
    font-size: 1.5rem;
  }

  input {
    @include controlInput(1rem, 50%);
    padding-left: 0.25rem;
    border-radius: 0.25rem;

    &:hover {
      transform: scale(1);
    }
  }
}
