@use "../../abstracts" as *;

.homeContainer__title {
  @include homePageSection(getColor("silver-10"), column);
  background-image: url("https://res.cloudinary.com/birthdayreminder/image/upload/v1677321887/Highschool%20Site%20App/liceul_barbu_snz8cx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  background-blend-mode: darken;
  padding-bottom: 20rem;
  padding-top: 17.5rem;

  @media all and (max-width: (getScreenSize("mobileL") + 50px)) {
    padding-bottom: 20rem;
    padding-top: 10rem;
  }

  h1 {
    font-size: 4rem;
    letter-spacing: 5px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;

    @media all and (max-width: (getScreenSize("mobileL") + 50px)) {
      font-size: 2rem;
    }
  }

  q {
    @extend h1;
    font-size: 2rem;
    letter-spacing: 2px;

    @media all and (max-width: (getScreenSize("mobileL") + 50px)) {
      font-size: 1.35rem;
    }
  }
}
