@use "../../abstracts" as *;

.markableHeadingContainer {
  @include flexCenter(row);
  position: relative;
  gap: 2rem;

  svg {
    transition: opacity 0.2s ease-in;
    font-size: 3rem;
    color: black;
  }
}
