@use "../abstracts" as *;

.aboutContainer {
  @include pageLayout();

  h2 {
    font-size: 4rem;
    letter-spacing: 3px;
    align-self: center;
  }

  h3 {
    font-size: 3rem;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px 5px black;

      &:hover {
        text-decoration: underline;
        font-style: italic;
      }
    }
  }

  h4 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    color: white;
    text-shadow: 2px 2px 5px black;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
        font-style: italic;
      }
    }
  }

  p {
    font-size: 1.5rem;
  }

  #{&}__generalInfo {
    @include homePageSection(getColor("silver-20"), column);
    align-items: flex-start;
    gap: 3rem;
  }

  #{&}__me {
    @include flexCenter(column);
    align-items: flex-start;
  }

  #{&}__site {
    @include flexCenter(column);
    align-items: flex-start;
  }

  #{&}__pagesInfo {
    @include homePageSection(getColor("silver-50"), column);
    align-items: flex-start;
    gap: 3rem;
  }

  #{&}__pageInfo {
    @include flexCenter(column);
    align-items: flex-start;
    gap: 2rem;

    p {
      font-size: 2rem;
    }
  }

  #{&}__pageInfoSections {
    @include flexCenter(column);
    align-items: flex-start;
    gap: 1rem;

    li {
      margin-left: 7.5rem;
      p {
        font-size: 1.35rem;
      }
    }
  }

  #{&}__adminInfo {
    @include homePageSection(getColor("silver-0"), column);
    gap: 2rem;

    h3 {
      align-self: flex-start;
    }

    h4 {
      a {
        color: black;
        text-shadow: 0px 0px 0px;
      }
    }
  }

  #{&}__technologiesUsed {
    @include homePageSection(getColor("silver-10"), column);
    align-items: flex-start;
    gap: 2rem;

    h3 {
      margin-top: 5rem;
    }

    img {
      width: 75%;
      height: auto;
      transition: transform 0.1s ease-in;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  #{&}__frontendTech {
    @include flexCenter(row);
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.5rem;
    width: 70%;
  }

  #{&}__backendTech {
    @extend .aboutContainer__frontendTech;
  }
}
