@use "../abstracts" as *;

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.announcementsContainer {
  @include pageLayout();

  #{&}__content {
    @include homePageSection(getColor("silver-10"), column);
    gap: 5rem;
    width: 100%;

    @media all and (max-width: getScreenSize("mobileL")) {
      padding: 7.5rem 0.5rem;
    }

    h2 {
      font-size: 4rem;
      letter-spacing: 5px;
      text-align: center;

      @media all and (max-width: 650px) {
        font-size: 3rem;
        letter-spacing: 3.5px;
      }

      @media all and (max-width: (getScreenSize("mobileL") + 50px)) {
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }

  #{&}__announcements {
    @include flexCenter(column);
    align-items: flex-start;
    gap: 5rem;
    width: 80%;

    @media all and (max-width: getScreenSize("laptopL")) {
      width: 100%;
    }
  }

  #{&}__announcement {
    @include flexCenter(row);
    align-items: flex-start;
    justify-content: space-between;
    border: 5px solid getColor("silver-30");
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: getColor("silver-white");
    gap: 5rem;

    transition: transform 0.1s ease-in;

    @media all and (max-width: getScreenSize("laptop")) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    &:hover {
      transform: translateX(1rem);
      box-shadow: $itemBoxShadowOnHover;

      @media all and (max-width: getScreenSize("mobileL")) {
        transform: translateX(0);
      }
    }

    img {
      width: 40%;
      height: auto;
      border-radius: 2rem;

      @media all and (max-width: getScreenSize("laptop")) {
        width: 100%;
      }
    }
  }

  #{&}__announcementInfo {
    @include flexCenter(column);
    align-items: flex-start;
    gap: 3rem;
    width: 60%;

    @media all and (max-width: getScreenSize("laptop")) {
      width: 100%;
    }

    iframe {
      width: 70%;
      height: auto;
      min-height: 20rem;
      border-radius: 1rem;

      @media all and (max-width: getScreenSize("laptop")) {
        width: 100%;
      }
    }

    p {
      font-size: 1.25rem;

      @media all and (max-width: getScreenSize("mobileL")) {
        font-size: 1rem;
      }
    }

    .announcementsContainer__announcementTitle {
      h3 {
        font-size: 1.75rem;

        @media all and (max-width: getScreenSize("laptop")) {
          font-size: 1.35rem;
          text-align: center;
        }
      }
    }

    textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: 15rem;
      max-height: 20rem;
      padding: 0.25rem;
      border-radius: 1rem;
      border: 3px solid getColor("silver-50");
      font-size: 1.25rem;

      &:focus-visible {
        outline: 3px solid getColor("silver-50");
      }
    }
  }

  #{&}__announcementTitle {
    @include flexCenter(row);
    gap: 3rem;
    width: 100%;
    justify-content: flex-start;
    position: relative;

    h3 {
      font-size: 1.75rem;

      @media all and (max-width: getScreenSize("laptop")) {
        font-size: 1.25rem;
      }
    }

    svg {
      font-size: 2.5rem;
      z-index: 2;
    }

    input {
      @include controlInput(2.25rem, 50%);
      text-align: center;
    }
  }

  #{&}__announcementImage {
    @include flexCenter(column);
    position: relative;
    width: 40%;
    border-radius: 2rem;

    @media all and (max-width: getScreenSize("laptop")) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  #{&}__announcementImageOverlay {
    @include flexCenter(column);
    position: absolute;
    width: 100%;
    border-radius: 2rem;
    height: 100%;
    background-color: rgba($color: getColor("silver-30"), $alpha: 0.5);
    border: 3px solid getColor("silver-30");

    input {
      display: none;
    }

    button {
      background: none;
      border: none;
      font-size: 10rem;
      color: getColor("silver-white");

      @media all and (max-width: getScreenSize("laptop")) {
        font-size: 5rem;
      }
    }
  }

  #{&}__videoContainer {
    @include flexCenter(column);
    width: 100%;
    align-items: flex-start;

    label {
      font-size: 1.5rem;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 1rem;
    }

    input {
      @include controlInput(1.25rem, 70%);
    }

    iframe {
      margin-top: 2rem;
    }
  }
}

.saveButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  font-size: 3rem;
  border: none;

  animation: pulse 0.5s alternate infinite;

  &:hover {
    animation-play-state: paused;
  }
}
