@use "../abstracts" as *;

.contactContainer {
  @include pageLayout();

  #{&}__contact {
    @include homePageSection(getColor("silver-20"), column);
    gap: 4rem;

    h2 {
      font-size: 3.5rem;
      letter-spacing: 3px;
      text-align: center;

      @media all and (max-width: getScreenSize("mobileL")) {
        font-size: 2.5rem;
      }
    }
  }
  #{&}__content {
    @include flexCenter(row);
    align-items: flex-start;
    justify-content: space-between;
    width: 75%;

    @media all and (max-width: getScreenSize("laptopL")) {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }

    @media all and (max-width: getScreenSize("laptop")) {
      width: 100%;
    }

    iframe {
      border-radius: 1rem;
      width: 50%;

      @media all and (max-width: getScreenSize("laptopL")) {
        width: 100%;
        height: 40rem;
      }

      @media all and (max-width: getScreenSize("laptop")) {
        height: 30rem;
      }
    }
  }

  #{&}__tel {
    @include flexCenter(row);
    gap: 1rem;
  }

  #{&}__info {
    @include flexCenter(column);
    align-items: flex-start;
    justify-content: center;

    address,
    a,
    span {
      font-size: 2rem;
      text-decoration: none;
      text-align: center;

      @media all and (max-width: getScreenSize("mobileL")) {
        font-size: 1.5rem;
      }
    }
  }
}
