@use "../abstracts" as *;

.overlayContainer {
  @include flexCenter(column);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba($color: getColor("silver-20"), $alpha: 0.7);

  display: none;
  opacity: 0;
  transform: scale(0);

  transition: opacity 0.2s, transform 0.2s;

  #{&}__modal {
    @include flexCenter(column);
    justify-content: space-evenly;
    border: 3px solid getColor("silver-50");
    background-color: getColor("silver-white");
    border-radius: 1rem;
    padding: 1rem;

    width: 50%;
    min-height: 50%;

    transition: transform 0.1s ease-in;

    @media all and (max-width: 1200px) {
      width: 90%;
    }

    h2 {
      font-size: 4rem;
      letter-spacing: 3px;
      text-align: center;

      @media all and (max-width: 650px) {
        font-size: 3rem;
        letter-spacing: 3.5px;
      }

      @media all and (max-width: (getScreenSize("mobileL") + 50px)) {
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  #{&}__buttons {
    @include flexCenter(row);
    justify-content: space-evenly;
    width: 75%;

    button {
      @include formButton(30%, 1.5rem);
    }
  }
}
