@use "../abstracts" as *;

.profileContainer {
  @include pageLayout();
  height: 100rem;
  border: 1px solid black;

  @media all and (max-width: getScreenSize("laptop")) {
    height: 125rem;
  }

  #{&}__content {
    @include homePageSection(getColor("silver-50"), row);
    align-items: flex-start;
    background-color: getColor;
    height: 100%;
    padding-bottom: 25rem;

    @media all and (max-width: getScreenSize("laptop")) {
      padding: 7.5rem 0.5rem;
      padding-bottom: 25rem;
    }
  }

  #{&}__wrapper {
    @include flexCenter(row);
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: getColor("silver-white");
    width: 80%;
    height: 100%;
    padding: 1rem 3rem;
    border-radius: 2rem;

    @media all and (max-width: getScreenSize("laptopL")) {
      width: 100%;
    }

    @media all and (max-width: getScreenSize("laptop")) {
      flex-direction: column;
    }

    @media all and (max-width: getScreenSize("mobileL")) {
      padding: 1rem;
    }

    hr {
      height: 100%;
      width: 7.5px;
      background-color: getColor("silver-20");
      border-radius: 1rem;

      @media all and (max-width: getScreenSize("laptop")) {
        width: 100%;
        height: 10px;
      }
    }
  }

  #{&}__profileDetails {
    @include flexCenter(column);
    gap: 5rem;
    width: 30%;
    align-items: flex-start;

    @media all and (max-width: getScreenSize("laptop")) {
      width: 100%;
      align-items: center;
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 2rem;
      letter-spacing: 2px;
      margin-bottom: auto;
      font-weight: bolder;
      text-align: center;
    }

    p {
      font-size: 1.25rem;
    }
  }

  #{&}__profileContent {
    @include flexCenter(column);
    width: 70%;
    height: 100%;
    justify-content: flex-start;

    @media all and (max-width: getScreenSize("laptop")) {
      width: 100%;
      justify-content: center;
    }
  }

  #{&}__options {
    @include flexCenter(row);
    width: 100%;
    border-bottom: 7.5px solid getColor("silver-20");
    border-radius: 1rem;
    justify-content: space-evenly;

    button {
      width: 50%;
      border: none;
      font-size: 1.15rem;
      border-radius: 0.5rem;
      text-align: center;
      background-color: inherit;

      transition: background-color 0.2s ease-in;

      &:hover {
        background-color: getColor("silver-30");
        transform: scale(1);
      }
    }
  }

  #{&}__optionsContent {
    @include flexCenter(row);
    height: auto;
    width: 100%;
    height: 100%;
  }

  #{&}__settings {
    @include flexCenter(column);
    width: 100%;
    height: 100%;
    padding: 3rem;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5rem;

    @media all and (max-width: getScreenSize("laptop")) {
      padding: 1rem;
    }

    @media all and (max-width: getScreenSize("mobileL")) {
      padding: 0.25rem;
    }

    button {
      @include formButton(100%, 1.5rem);
      margin-top: auto;
    }
  }

  #{&}__settingsControl {
    @include flexCenter(row);
    justify-content: space-between;
    width: 100%;

    @media all and (max-width: getScreenSize("laptop")) {
      flex-direction: column;
      align-items: flex-start;
    }

    label {
      font-size: 1.5rem;
    }

    input {
      @include controlInput(1.25rem, 50%);

      @media all and (max-width: getScreenSize("laptop")) {
        width: 100%;
      }
    }

    select {
      @include controlSelect();

      @media all and (max-width: getScreenSize("laptop")) {
        width: 100%;
      }
    }

    textarea {
      min-width: 50%;
      max-width: 50%;
      max-height: 5rem;
      border-radius: 1rem;
      border: 3px solid getColor("silver-50");

      &:focus-visible {
        outline: 3px solid getColor("silver-50");
      }

      @media all and (max-width: getScreenSize("laptop")) {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

  #{&}__passwordControl {
    @include flexCenter(row);
    width: 50%;
    position: relative;

    @media all and (max-width: getScreenSize("laptop")) {
      width: 100%;
    }

    input {
      width: 100%;
      &:hover {
        transform: translateX(0);
      }
    }

    svg {
      position: absolute;
      z-index: 3;
      right: 1rem;
      font-size: 1.5rem;
    }
  }
}
