@use "../abstracts" as *;

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.searchButtonContainer {
  font-size: 3rem;
  position: fixed;
  z-index: 1;
  top: 1rem;
  right: 1rem;

  animation: pulse 0.5s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}
