@use "../abstracts" as *;

.sectionLoadingContainer {
  @include homePageSection(getColor("silver-white"), column);
  padding: 20rem 5rem;
  border-radius: 1rem;
  gap: 5rem;

  p {
    font-size: 5rem;
    letter-spacing: 3px;
  }
}
