@use "../abstracts" as *;

.sidebarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 100%;
  padding: 3rem 1rem;
  padding-top: 1rem;
  box-shadow: 1px 1px 5px 3px #333333;
  background-color: #cccccc;

  @media all and (max-width: (getScreenSize("laptopL") + 200px)) {
    width: 30%;
  }

  @media all and (max-width: (getScreenSize("laptop") + 200px)) {
    width: 40%;
  }

  @media all and (max-width: (getScreenSize("tablet") + 100px)) {
    width: 100%;
  }

  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateX(-150%);
  z-index: 4;
  transition: transform 0.3s, width 0.3s;

  h1 {
    font-size: 1.75rem;
    letter-spacing: 2px;
    margin-bottom: auto;
    margin-top: 2rem;
    text-align: center;
  }

  #{&}__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    svg {
      font-size: 3rem;
      color: red;
    }
  }

  #{&}__pageLinks {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: auto;
    gap: 2rem;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      gap: 1rem;
      text-decoration: none;

      i {
        color: blue;
        font-size: 2.5rem;
      }

      h2 {
        color: black;
        font-size: 1.25rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #{&}__socialMediaLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;

    a {
      text-decoration: none;
      i {
        font-size: 2.5rem;
        color: blue;
      }
    }
  }
}
